<section ng-cloak>

	<div class="jumbotron">
		<h2>OSGi enRoute RUBE GOLDBERG Server</h2>
		<p class="lead">${Bundle-Description}</p>
		<br />
		<p class="lead">Available contraptions:</p>
		<div class="list-group">
		    <a class="list-group-item" ng-click=start(contraption) ng-repeat="contraption in contraptions">
		      {{contraption}}
		    </a>
		</div>    
	</div>

	<div class="row marketing">
		<img ng-show="running" src="/osgi.enroute.rube.goldberg.server/camera.mjpeg" WIDTH=100%>
	</div>
</section>
